body,html {
  padding: 0;
  margin: 0;
  background: #F7F7F7;
  font-size: 18px;
  font-family: sans-serif;
}

.banner {
  background-color: #009B8F;
  color: white;
  padding: 1.5em 0.5em;
}

.banner h1 {
  font-weight: normal;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

input[type="date"],
select {
  font-family: inherit;
  border: 1px solid #CCC;
  background: white;
  font-size: 0.9em;
  padding: 0.3em;
  border-radius: 0.2em;
}

footer {
  max-width: 800px;
  margin: 0 auto 1em;
  box-sizing: border-box;
  text-align: right;
  font-size: 0.8em;
  padding: 0 0.5em;
  color: #666;
}

footer a {
  transition: color 0.2s ease;
  color: #333;
  text-decoration: none;
}

footer a:hover,
footer a:focus {
  color: #009B8F;
}
