.daterange__input {
	margin-left: 0.5em;
}

.daterange__input:disabled {
	background-color: #EEE;
}

.daterange__label + div {
	display: inline-block;
}

.daterange__group {
	display: block;
	margin-top: 1em;
}

@media (min-width: 761px) {
	.daterange__group {
		display: inline-block;
		margin-top: 0;
	}

	.daterange__group:not(:first-child) {
		margin-left: 1em;
	}
}
