.calculator {
  max-width: 800px;
  margin: 1.5em auto 0.5em;
  background-color: white;
  box-shadow: 0 0 4px 1px #AAA;
  padding: 1em 0 0;
  box-sizing: border-box;
  text-align: left;
}

.calculator__row {
  padding: 0 1em;
}

.calculator__row--right {
  text-align: right;
}

.calculator__row--country {
  display: flex;
  align-items: center;
}

.calculator__country-select {
  flex: 1 0 auto;
}

.calculator__row + .calculator__row {
  margin-top: 1em;
}

.calculator__country-label {
  display: block;
  margin-right: 0.5em;
}

.calculator__warning {
  border-left: 3px solid rgb(222, 181, 7);
  border-right: 3px solid rgb(222, 181, 7);
  background: #fffff0;
  padding: 0.5em;
}

.pdfdownload {
  background: #009B8F;
  color: white;
  font-size: 1.1em;
  width: 100%;
  margin-top: 0.5em;
  border: none;
  transition: background 0.2s ease;
  cursor: pointer;
  font-family: inherit;
  padding: 0.5em;
  position: relative;
  overflow: hidden;
}

.pdfdownload--loading {
  background: #7db9b4;
}

@keyframes buttonSpinner {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

.pdfdownload--loading::before {
  content: ' ';
  position: absolute;
  width: 100%;
  top: 0;
  left: -100%;
  height: 4px;
  background-color: #009B8F;
  animation: buttonSpinner 2s linear infinite;
}

.pdfdownload:disabled:not(.pdfdownload--loading) {
  cursor: not-allowed;
  background: #666;
}

.pdfdownload:hover:not(:disabled),
.pdfdownload:focus:not(:disabled) {
  background: #5accc3;
}

.sum {
  font-weight: bold;
  margin-left: 0.5em;
}

.calculator__segment {
  display: flex;
  align-items: stretch;
  margin-bottom: 1em;
}

.calculator__segment:not(:first-child) {
  border-top: 1px solid #CCC;
  padding-top: 1em;
}

.calculator__segment:not(.calculator__segment--last) {
  padding-right: 1.5em;
}

.calculator__segment-inputs {
  flex: 1 1 auto;
}

.calculator__segment-button {
  appearance: none;
  border: none;
  background: #DDD;
  color: white;
  transition: background 0.3s ease;
  font-size: 1em;
  width: 1.5em;
  font-weight: bold;
}

.calculator__segment-button:hover,
.calculator__segment-button:focus {
  background-color: #009B8F;
}

.calculator__segment-button:first-child {
  border-radius: 0 0.15em 0.15em 0;
}

.calculator__segment-button:last-child {
  border-radius: 0.15em 0 0 0.15em;
}
